<!DOCTYPE html>
<html lang="en">
    <!-- head general -->
 <%- include('partials/head', {title: 'FOD'}) %>

 <!-- link css -->
        <link rel="stylesheet" href="\styles\create-form.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

    <!-- header -->
    <%- include('partials/header') %>
    <!--fin del header -->

    <section class="create_product_section">

        <div class="create_produc_title">
           <h2>Crear un nuevo producto</h2>
        </div>

        
            <form action="/products/create" method="POST" enctype="multipart/form-data">
                <div class="error_messages">
                    <% if (typeof(errors) != 'undefined') { %>

                        <% for( let index = 0; index < errors.length; index++ ) { %>
                            <p><%= errors[index].msg %> </p>
                        <% } %> 

                    <% } %>

                </div>
                <div class="grid_create_form">
                <div class="input_box">
                    <label for="" class="label_decoration">Nombre del producto:</label>
                    <input type="text" name="title" id="title" <% if (typeof(old) != 'undefined') { %> value= <%= old.title %> <%} %>>
                </div>

                <div class="input_box">
                    <label for="" class="label_decoration">Precio:</label>
                    <input type="text" name="price" id="price" <% if (typeof(old) != 'undefined') { %> value= <%= old.price %> <%} %>>
                </div>
                    
                <div class="input_box">
                    <label for="category_id" class="label_decoration">Categoria:</label>
                    <select name="category_id" id="category_id" class="">

                        <% if (typeof(old) == 'undefined') { %> 



                        <option value="default" selected disabled>Seleccione una categoria</option>

                        <% categories.forEach(category => { %>
                         
                        <option value="<%= category.id%>"><%= category.name%></option> 

                        <% }) %>



                        <% } else{
                            let selectedCategory = old.category_id 
                            %>

                            <option value="default" <% if (selectedCategory == 'default') { %> <%= 'selected' %> <% } %>disabled>Seleccione una categoria</option>

                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>" <% if (selectedCategory == category.id) { %> <%= 'selected' %> <% } %>><%=category.name%></option>
                                
                            <% }) %>
                        <% } %>
                    </select>
                </div>
                
                <div class="input_box">
                    <label for="" class="label_decoration">Imagen:</label>
                    <input class="img_field" type="file" name="product_img" id="" enctype="multipart/form-data">
                </div>
                </div>

                <div class="description_box">
                    <label for="" class="label_decoration">Descripcion:</label>
                   <textarea name="description" id="" cols="30" rows="10"><% if (typeof(old) != 'undefined') { %> <%= old.description %> <%} %></textarea>

                </div>


                <div class="create_button">
                    <button class="submit-button">
                        Crear
                    </button>

                </div>
            </form>



    </section>




<!-- footer -->    
<%- include('partials/footer') %>
<!-- fin del footer -->  
    
</body>
</html>