<!DOCTYPE html>
<html lang="en">
  <!-- head general -->
  <%- include('partials/head', {title: 'FOD'}) %>

  <!-- link css -->
    <link rel="stylesheet" href="/styles/styledetalle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<body>
     <!-- header -->
     <%- include('partials/header') %>
     <!--fin del header -->

<!--inicio detalle del producto -->
    <section class="body-description">

        <section class="product-wrapper">
                            
            <div class="product-title">
                <h1 class= "h1product"><%= oneproduct.title %></h1>
            </div>

            <section class="product">
                 
               

                <article class="product-img">
                    
                    <!-- Trigger the Modal -->
                    <img id="myImg" src="/img/products/<%= oneproduct.image %>" alt="Music">
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <!-- The Close Button -->
                            <span class="close">&times;</span>
                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">
                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                        </div>

                </article>

                <article class="product-description">
                    <p><%= oneproduct.description %></p>
                    
                    <div class="product-options">
                    
                        <form action="/cart/add" method="get">
                        <div class="add-chart">
                            <button class="button-chart" type="submit" value="<%= oneproduct.id %>" name="productId">Agregar</button>
                        </div>
                        </form>
                    
                        <div class="product-price">
                            <h2>$<%= oneproduct.price %></h2>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </section>
    <!--fin detalle del producto -->

     <!-- footer -->    
     <%- include('partials/footer') %>
     <!-- fin del footer --> 
</body>
<script src="../../public/js/detalle.js"></script>
</html>